.custom-options-out-of-stock {
    background-color: #7a7a7a !important;
    padding:4px !important;
    color:#fff !important;
    text-transform: none !important;
    font: 14px/1.35 HelveticaCERegular, sans-serif !important;
}